RewriteEngine On
Options +Indexes
# Cho phép truy cập trực tiếp vào thư mục uploads
RewriteCond %{REQUEST_URI} ^/manage_bi_a_2/admin/uploads/ [NC]
RewriteRule .* - [L]
# Nếu URL chứa "/admin/", điều hướng đến "admin/index.php"
RewriteRule ^admin/(.*)$ admin/index.php [L]

# Nếu không phải "/admin/", điều hướng đến "index.php"
RewriteCond %{REQUEST_URI} !^/admin/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
